*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Courier New', Courier, monospace;
}
/*------------------HEADER-----------------*/

.logo{
    color:rgba(8, 166, 228, 1) ;
    font-size: 32px;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    width: 142px;
    height: 37px;
    padding-left: 136px;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 16px;
    padding-bottom: 17px;
    background-color: white;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}

.nav__links{
    display: flex;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 11px;
    list-style: none;
    gap: 25px;
}
ul li a:last-child{
    padding-right: 76px;
}

.nav__links a{
    text-decoration: none;
    color: black;
    transition: 0.2s;
    padding: 25px;
}
.nav__links a:hover{
    border-bottom: 4px solid rgba(8, 166, 228, 1);
    
}





/*------------------MAIN-----------------*/

.main{
    display: flex;
    justify-content:center;
    align-items: center;
    padding-top: 100px;
}
h1{
    font-family: 'Raleway', sans-serif;
    font-size: 49px;
    text-align: center;
    font-weight: 400;
    z-index: 2;
}

.text{
padding-top: 20px;
font-size: 16px;
font-family: 'Open Sans', sans-serif;
text-align: center;
padding-bottom: 38px;
}

.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    border-color: white;
    background-color: rgba(8, 166, 228, 1);
    color: white;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
    padding-top: 22px ;
    padding-right: 157px;
    padding-left: 157px;
    padding-bottom: 23px;

}
.opening-image{
    position: absolute;
    top: 400px;
    width: 1400px;
    height: 450px;
    object-fit: cover;
    object-position: center;
    z-index: -1;
}


/*------------------STATS-----------------*/
.statistics {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 550px;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}
.title {
    font-family: 'Raleway', sans-serif;
    font-size: 36px;
    margin-bottom: 100px;
}
.stats {
    display: flex;
    justify-content: space-around;
}
.stat {
    text-align: center;
 }
.stat img {
    width: 50px;
    height: 50px;
    position:absolute;
}
 .stat-number {
    font-size: 20px;
    font-weight:bolder;
    font-family: 'Raleway', sans-serif;
 }
.stat-label {
    font-size: 17px;
    color: rgba(165, 165, 165, 1);
}
.stat-circle1 {
    background-color:rgba(251, 59, 100, 1);
    border-radius: 50%;
    width: 63px;
    height: 63px;
    position: relative;
}
.stat-circle2 {
    background-color:rgba(8, 166, 228, 1);
    border-radius: 50%;
    width: 63px;
    height: 63px;
    position: relative;
}
.stat-circle3 {
    background-color:rgba(85, 223, 180, 1);
    border-radius: 50%;
    width: 63px;
    height: 63px;
    position: relative;
}

/*------------------WHY US-----------------*/


.why-us {
    display: flex;
    justify-content:column;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 100px;
}
.container1{
    display: flex;
    flex-direction:row-reverse;
    width: 1124px;
    height: 370px;
}
.text1{
    font-family: 'Raleway', sans-serif;
    font-size: 36px;
    font-weight: 400;
    text-align: left;}



.container1 img {
    width: 386px;
    height: 219px;
}
