 @mixin dialogBox($backgroundColor, $width){
    width: $width;
    padding: 10px;
    background-color: $backgroundColor;
    border: 1px solid black;
    margin: 40px auto;

    &:after{
        content: "";
        position: absolute;
        top: 25px;
        left:50%;
        transform: translateX(-50%) rotate(45deg);
        width: 10px;
        height: 10px;
        background-color: $backgroundColor;
        margin-top: 10px;
        border: 1px solid black;
    }

 }

 .dialog{
    @include dialogBox(#0a5e03, 400px);
 }